<h1>Courses page</h1>


{{#if courses.length}}
  <div class="row courses">
    {{#each courses}}
      {{#with this}}
        <div class="col s6 ">
          <div class="card">
            <div class="card-image">
              <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="card-content">
              <span class="card-title">{{title}}</span>
              <p class="price">{{price}}</p>
            </div>
            <div class="card-action actions">
              <a href="/courses/{{id}}">See more</a>
              <a href="/edit-course/{{id}}?allow=true">Edit</a>
              <form action="{{../pathCartAdd}}" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <button type="submit" class="btn btn-primary">add to cart</button>
              </form>
            </div>
          </div>
        </div>
      {{/with}}
    {{/each}}
  </div>
{{else}}
  <p>There are no courses</p>
{{/if}}
